.git/
.github/
build/
dist/
venv/*
.idea/
__pycache__/
h/model/history/
h/mvp/history/
h/model/barriers/chess/history/
h/model/barriers/square/frames1animation/
!h/model/barriers/square/frames1animation/__init__.py
h/model/barriers/square/frames4animation/
!h/model/barriers/square/frames4animation/__init__.py
h/player/history
h/model/barriers/sound/test.wav
tesifaz.spec
