.git/
.github/
build/
dist/
venv/*
.idea/
__pycache__/
h/model/history/
h/mvp/history/
h/model/barriers/chess/history/
h/model/barriers/square/frames/
h/player/history
h/model/barriers/sound/test.wav
tesifaz.spec
